button{
    background-color:#f2e527 ;
    height: 70px;
    width: 350px;
    border-radius: 8px;
    color:#253340;
    font-size: 30px;
    font-weight: bolder;
  
}

  div#buttons{
    margin-top:20px;
    display: flex;
    justify-content: center;
    gap:45px;
  
  }